<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= cv.title %></title>

<link rel="stylesheet" href="/style.css">

</head>

<body class="template3-body">

    <% if (!isPreview && !isDownload) { %>

<div class="resume-actions no-print">

   <a href="/download/<%= cv._id %>" class="download-btn">
    Download PDF
</a>

    <a href="/templates/<%= cv._id %>" class="change-template-btn">
        Change Template
    </a>

</div>

<% } %>

<div class="resume3">

    <!-- Header -->

    <header class="header3">

        <h1><%= cv.personalInfo.fullname %></h1>

        <p class="position">

            <%= cv.title %> 

        </p>

        <div class="contact3">

            <span><%= cv.personalInfo.email %></span>

            |

            <span><%= cv.personalInfo.phone %></span>

            <% if(cv.personalInfo.linkedin){ %>

                |

                <a href="<%= cv.personalInfo.linkedin %>" target="_blank">

                    LinkedIn

                </a>

            <% } %>

            <% if(cv.personalInfo.github){ %>

                |

                <a href="<%= cv.personalInfo.github %>" target="_blank">

                    GitHub

                </a>

            <% } %>

        </div>

    </header>

    <!-- Profile -->

    <section>

        <h2>PROFILE</h2>

        <p>

            Passionate software developer with excellent problem-solving
            skills and experience building scalable web applications.

        </p>

    </section>

    <!-- Education -->

    <section>

        <h2>EDUCATION</h2>

        <h3><%= cv.education.college %></h3>

        <p><%= cv.education.degree %></p>

        <p>CGPA : <%= cv.education.cgpa %></p>

    </section>

    <!-- Skills -->

    <section>

        <h2>TECHNICAL SKILLS</h2>

        <p>

            <% cv.skills.split(",").forEach((skill,index)=>{ %>

                <%= skill.trim() %>

                <% if(index != cv.skills.split(",").length-1){ %>

                    •

                <% } %>

            <% }) %>

        </p>

    </section>

    <!-- Projects -->

    <section>

        <h2>PROJECTS</h2>

        <p>

            <%= cv.projects || "No Projects Added" %>

        </p>

    </section>

    <!-- Experience -->

    <section>

        <h2>EXPERIENCE</h2>

        <p>

            <%= cv.experience || "No Experience Added" %>

        </p>

    </section>

    

</div>


</body>

</html>